<html>
<head>
	<title></title>
</head>
<body>
	<h1>Games:</h1>
	<span id="games"></span>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

	<script type="text/javascript">
var socket = io();
$(function() {
	var games_div = $('#games');
	var GAMES = {{ games|json|safe }};
	function showGames(games) {
		games_div.html('');
		games.map(function(game) {
			games_div.append("<h2><a href='/" + game + "' target='_blank'>" + game +"</a></h2>");
		});
	}
	showGames(GAMES);
	socket.on('games', showGames);
});
	</script>
</body>
</html>
